.textarea {
    width: 100%;
    background-color: transparent;
    font-size: 15px;
    min-height: 20px;
    padding: 0 0 20px 0;
    box-shadow: none;
    display: block;
    border: 0;
    overflow: hidden;
    transition: height 0.2s ease;
    resize: none;
}
